datacenter = "dc1"
data_dir   = "/opt/consul"
#log_level  = "INFO"
bind_addr = "{{ inventory_hostname }}"
addresses {
  http = "{{ inventory_hostname }}"
}

connect {
  enabled = true
}

{% if 'servers' in group_names %}
server    = true
bootstrap = true
ui_config {
  enabled = true
}
{% endif %}

{% if not 'servers' in group_names %}
retry_join = {{ groups['servers'] | replace('\'','\"')   }}
ports {
  # to use Envoy as our Connect proxy
  grpc = 8502
}

{% endif %}

