# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

#  fix error with this config datacenter = "dc1"
data_dir  = "/opt/nomad/data"
bind_addr = "{{ inventory_hostname }}"

{% if 'servers' in group_names %}
server {
  # license_path is required as of Nomad v1.1.1+
  # license_path = "/opt/nomad/license.hclic"
  enabled          = true
  bootstrap_expect = 1
}
{% endif %}

{% if not 'servers' in group_names %}
client {
  enabled = true
  network_interface = "enp0s8"
  servers = {{ groups['servers'] | replace('\'','\"') }}
}
{% endif %}

consul {
  address = "{{ inventory_hostname }}:8500"
}